* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(-45deg, #1f1c2c, #928dab, #2c3e50, #4b6cb7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  backdrop-filter: blur(13px);
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.306);
  max-width: 600px;
  width: 100%;
  transition: 0.7s;
}

.container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(15px);
  transform: scale(1.01);
  background-color: rgba(0, 0, 0, 0.119);
}

h1 {
  padding: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.time {
  margin-bottom: 1rem;
}

.name,
.position,
.time {
  padding: 3px;
  text-align: start;
  color: rgba(255, 255, 255, 0.751);
}

textarea,
select,
button {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  border-left: 5px solid #4caf50;
  border-radius: 8px;
}

.todo-item.done {
  text-decoration: line-through;
  opacity: 0.6;
  border-left-color: gray;
}

.priority-low {
  border-left-color: #4caf50;
}
.priority-medium {
  border-left-color: #ffc107;
}
.priority-high {
  border-left-color: #f44336;
}

.inputTask {
  border: none;
  transition: 0.2s;
  background-color: rgb(3, 171, 3);
  color: white;
}

.inputTask:hover {
  cursor: pointer;
  background-color: rgb(15, 195, 15);
}

.deleteAll {
  border: none;
  transition: 0.2s;
  background-color: rgb(249, 83, 83);
  color: white;
}

.deleteAll:hover {
  cursor: pointer;
  background-color: #ff0000;
}

.markDone {
  border: none;
  transition: 0.2s;
  background-color: rgb(3, 171, 3);
  color: white;
}

.markDone:hover {
  cursor: pointer;
  background-color: rgb(15, 195, 15);
}

.delete {
  border: none;
  transition: 0.2s;
  background-color: rgb(245, 103, 103);
  color: white;
}

.delete:hover {
  cursor: pointer;
  background-color: #ff0000;
}

#doneList {
  margin-top: 2rem;
  border-top: 1px solid #ddd;
  padding-top: 1rem;
}

.button-group {
  display: flex;
  gap: 1rem;
}

.task-buttons button {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
}

.timestamp {
  font-size: 0.75rem;
  color: #777;
  margin-top: 0.25rem;
}

.undo {
  background-color: #00bcd4;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.undo:hover {
  background-color: #00ccff;
}

.deleteDone {
  padding-right: 5px;
  border: none;
  transition: 0.2s;
  background-color: rgb(255, 133, 133);
  color: white;
}

.deleteDone:hover {
  cursor: pointer;
  background-color: #ff0000;
}

@media (max-width: 830px) {
  body {
    padding: 20px;
  }
}
